.wrapper{
    min-height: 100vh;
    background-color: red;
    padding: 20px 0;
    &__rec{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        & li{
            width: 350px;
            min-height: 250px;
            background-color: white;
            margin: 20px 20px;
            & img{
                height: 70%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
   &__box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    & input{
        border: none;
        width: 300px;
        height: 50px;
        border-radius: 16px 0 16px 0;
        &:focus{
            outline: none;
        }
    }
   }
}

