.wrapper{
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #262626;
    padding: 20px 0;
    &__rec{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        & li{

            width: 350px;
            min-height: 250px;
            background-color: white;
            margin: 20px 20px;
            border: 2px solid rgba(255, 255, 255, 0.7);
            border-radius: 10px;    
            margin-top: 10px;
            transition: 0.3s;
            &:hover{
                background-color: rgba(202, 127, 127, 0.432);
            }
            & p{
                font-size: 20px;
                // margin-top: 20px;
                margin: 20px 20px;
                opacity: 0.7;
            }
            & h2{
                text-align: center;
                margin: 5px 15px;
            }
            & img{
                height: 70%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
   &__box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    & input{
        width: 250px;
        border: none;
        padding: 6px;
       margin-bottom: 10px;   
        border-radius: 10px;
        &:hover{
            border: none;
        }
        &:focus{
            outline: none;
        }
    }
   }
}

@media (max-width:400px){
    .wrapper{
        &__list{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            & li{
                width: 80%;
            }
        }
    }
}